
@font-face {
    font-family: 'basic_sans_sfregular';
    src: url('../font/basicsanssf-webfont.woff2') format('woff2'),
         url('../font/basicsanssf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'basic_sans_sfregular', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}
* {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body, .container-fluid, html {
    padding: 0;
    margin: 0;
    width: 100%;
}
a, a:hover {
    text-decoration: none;
}
ul {
    padding-left: 5px;
}
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
section {
    margin: 5em 0;
    min-height: 100px;
}
section:first-child {
    margin-top: 0;
}
section:not(:first-child) {
    padding: 1em 3em
}
h1 {
    font-size: 23px;
    color: white;
}
.nav {
    width: 90%;
    margin: auto;
    background-color: #77b540;
    height: 50px;
    flex: 2;
}
.logo {
    flex: 1;
    font-weight: 500 !important;
    font-size: 1.8em;
    line-height: 25px;
    color: #484848
}
.nav a, .right-nav {
    margin: 0 1.5em;
    color: #FFF;
    text-decoration: none;
    line-height: 50px;
    font-weight: 300;
    float: right;
}
.right-nav a {
    color: #fff;
    margin: 0 0.5em;
}
.right-nav a:last-child {
    border: 1px solid green; 
    padding: 10px; 
    border-radius: 100px; 
    background: #FFF; 
    color: #000; 
    font-weight: 500
}


/* testimonials */
.testimonial{
    background-image: url("../img/testimonial.png");
    background-repeat: no-repeat;
    background-position: 5px 65px;
}
  .carousel-caption {
    z-index: 10;
      color: #000;
  }
  .carousel-item {
    height: 20rem;
  }
  .carousel-item > img {
      margin: 10px auto;
  }
  .testimonial-name {
    width:60%; 
    text-align:center; 
    border-bottom: 1px solid #c9c9c9; 
    line-height:0.1em; 
    margin: 20px auto;
  }
  .testimonial-name span {
    background:#fff; 
    padding:0 10px;
    color: #ccc;
  }
  .carousel-indicators .active {
      background-color: green;
  }

  .headline {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: black;
    position: relative;
    position: relative;
  }
  .headline:after {
    content:' ';
    position: absolute;
    top:120%;
    left:50%;
    width: 100px;
    border:1px solid #d0d0d0;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
  
  }

.responsive-table{
    margin-top: 30px;
    margin-bottom: 50px;
}
.responsive-table:last-child{
    margin-bottom: 0;
}
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bold;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .c-1 {
    flex-basis: 10%;
  }
  .responsive-table .c-2 {
    flex-basis: 40%;
  }
  .responsive-table .c-3 {
    flex-basis: 25%;
  }
  .responsive-table .c-4 {
    flex-basis: 25%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .c {
      flex-basis: 100%;
    }
    .responsive-table .c {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .c:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  
.action {
    background-size: cover!important;
    background: linear-gradient(#20222278,#20222285),url("../img/action.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.action .headline {
    color: #fff;
}



.header {
    height: 80vh;
    background-image: 
    linear-gradient(to right bottom,     rgba(170, 241, 198, 0.8),    rgba(4, 121, 62, 0.8)),    url(../img/payment.png);   
  background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
    flex: 2; 
    width: 90%; 
    margin: auto; 
    height: 50px;
}

.header-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;

}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 40px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
    margin-top: 20px;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
  font-size: 14px;
}

/* cards */
.container-fluid > section.cards {
    padding: 1em 3em;
}
.container-fluid > section.cards div.row {
    width: 80%
}
.container-fluid > section.cards div.row img {
    width: 150px
}
.container-fluid > section.cards div.row div:nth-child(1) {
    margin-top: -65px;
}
.container-fluid > section.cards div.row div:nth-child(3) {
    margin-top: -25px;
}
.container-fluid > section.cards div.row div:nth-child(4) {
    margin-top: -5px;
}
.container-fluid > section.cards div.row div:nth-child(5) {
    margin-top: 10px;
}
.container-fluid > section.cards div.row div:nth-child(6) {
    margin-top: -55px;
}

.tutorial .row {
    width: 80%; 
    margin: 2.5em auto;
}
.tutorial .row .card, 
.tutorial .row .card .card-body {
    padding: 2em 2em 0;
}
.tutorial .row .card .card-footer {
    background-color: transparent; 
    border: none;
}
.tutorial .row .card .card-footer img {
    width: 100px
}
section.action {
    padding: 2em
}
section.action .row {
    width: 68%
}
section.action .row .col {
    width: 50%
}
section.action-form {
    margin-top: -120px
}
section.action-form a:first-child {
    color: green; border: 2px solid green
}
section.action-form a:last-child {
    background-color: green; color: #fff
}
footer {
    background: #000; 
    color: #f7f7f7; 
    padding: 3em; 
    min-height: 300px;
}
footer a,
footer a:hover, 
footer a:focus  {
    color: #FFF;
    font-weight: 600;
}

@media all and (max-width: 540px) {
    .brand-box {
        margin: 0;
        flex: 1;
        left: auto;
        width: 100%;
        text-align: center;
    }
    .brand-box .right-nav {
        width: 100%;
        float: none;
        margin: 0 auto 50px;
    }
    .brand-box .logo {
        display: block;
        margin: 5px auto 20px; 
    }
    .brand-box .right-nav a:last-child {
        display: none;
    }

    .heading-primary {
        width: 100%;
    }

    .container-fluid > section.cards {
        padding: 1em;
        display: flex;
    }
    .container-fluid > section.cards div.row {
        width: 90%; 
        display: flex;
    }
    .container-fluid > section.cards div.row div.col-6 {
        width: 40%;
        margin: auto;
        align-self: auto;
    }
    .container-fluid > section.cards div.row img {
        width: 100%;
    }
    .tutorial {
        padding: 1em;
    }
    .tutorial .row {
        width: 100%;
        margin: 1.5em auto;
    }
    .tutorial .row .card {
        margin-bottom: 1.5em;
        padding: 0;
    }
    .tutorial .row .card .card-body {
        padding: 2em 2em 0;
    }
    section.action {
        padding: 1.5em
    }
    section.action .row {
        width: 90%
    }
    section.action .row .col {
        width: 80%
    }
    section.action-form .container, 
    section.action-form .row {
        width: 100%;
    }
    section.action-form .container .col-sm-8 {
        width: 130%;
        margin-left: -8%;
    }
    section.action-form .container .card-body {
        width: 120%;
    }
    section.action-form a {
        margin-bottom: 1em;
    }
    section.action-form a:first-child {
        margin-left: -50px;
    }
    section.action-form a:last-child {
        margin-left: -18% !important;
    }
    .testimonial {
        background: none;
    }
    .testimonial-name {
        width: 100%
    }
    footer .row {
        text-align: left;
        margin: 0;
        padding-left: 0 !important ;
    }

}