
@font-face {
    font-family: 'basic_sans_sfregular';
    src: url('../font/basicsanssf-webfont.woff2') format('woff2'),
         url('../font/basicsanssf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'basic_sans_sfregular', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}
* {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body, .container-fluid, html {
    padding: 0;
    margin: 0;
    width: 100%;
}
a, a:hover {
    text-decoration: none;
}
ul {
    padding-left: 5px;
}
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
section {
    margin: 5em 0;
    /* border: 1px solid red; */
    min-height: 100px;
}
section:first-child {
    margin-top: 0;
}
section:not(:first-child) {
    padding: 1em 3em
}
/* .grayscale { 
    filter: grayscale(100%); 
} */
h1 {
    font-size: 23px;
    color: white;
}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}
.nav {
    width: 90%;
    margin: auto;
    background-color: #77b540;
    height: 50px;
    flex: 2;
}
.logo {
    flex: 1;
    font-weight: 500 !important;
    font-size: 1.5em;
    line-height: 25px;
}
.nav a, .right-nav {
    margin: 0 1.5em;
    color: #FFF;
    text-decoration: none;
    line-height: 50px;
    font-weight: 300;
    float: right;
}
.right-nav a {
    color: #fff;
    margin: 0 0.5em;
}
.landing {
    background-color: #77b540;
    margin-top: -50px;
}
.landingWrapper {
    width: 80%;
    margin: auto;
    padding: 1em 2em 4em 1em;
    border: 1px solid red;
    /* padding: 4em 2em 4em 1em; */
    height: 100%;
}
.credit_card {
    float: left;
    margin-left: 15%;
    width: 40%;
    margin: 0.1em 0 0 0;
}
.landingRight {
    float: left;
    margin: 10em 0 0 0;
    border: 1px solid #000;
}
.landingRight p {
    color: white;
    font-size: 20px;
}
.landingRight .btn {
    background-color: #034667;
    padding: 0.75em 2em;
    border-radius: 3px;
    width: 150px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 40px;
}



/* .card:not(:last-child), */
.card::after {
    /* content: url("../img/arrow.png"); */
    /* content: " -> "; */
    /* background-image: url("../img/arrow.png") */
}
.card {
    /* background-image: url("../img/arrow.png"); */
}







/* testimonials */
.testimonial{
    background-image: url("../img/testimonial.png");
    background-repeat: no-repeat;
    background-position: 5px 65px;
}
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    /* bottom: 3rem; */
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 20rem;
    /* border: 1px solid #000; */
  }
  .carousel-item > img {
      margin: 10px auto;
  }
  .carousel-caption {
      color: #000;
      /* margin: 20px 0; */
  }
  .testimonial-name {
    width:60%; 
    text-align:center; 
    border-bottom: 1px solid #c9c9c9; 
    line-height:0.1em; 
    /* margin:10px 0 20px; */
    margin: 20px auto;
  }
  .testimonial-name span {
    background:#fff; 
    padding:0 10px;
    color: #ccc;
  }
  .carousel-indicators .active {
      background-color: green;
  }

  .headline {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: black;
    position: relative;
    position: relative;
  }
  .headline:after {
    content:' ';
    position: absolute;
    top:120%;
    left:50%;
    width: 100px;
    border:1px solid #d0d0d0;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
  
  }


.responsive-table{
    margin-top: 30px;
}
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .c-1 {
    flex-basis: 10%;
  }
  .responsive-table .c-2 {
    flex-basis: 40%;
  }
  .responsive-table .c-3 {
    flex-basis: 25%;
  }
  .responsive-table .c-4 {
    flex-basis: 25%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .c {
      flex-basis: 100%;
    }
    .responsive-table .c {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .c:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  
.action {
    background-size: cover!important;
    background: linear-gradient(#20222278,#20222285),url("../img/action.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.action .headline {
    color: #fff;
}
























.header {
    height: 80vh;
    background-image: 
    linear-gradient(to right bottom,     rgba(170, 241, 198, 0.8),    rgba(4, 121, 62, 0.8)),    url(../img/credit_card.png);
   /* rgba(76, 216, 255, 0.8),
   rgba(30, 108, 217, 0.8)),
   url('https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg'); */
    
  background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand { font-size: 20px; color: #000000 }

.header-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
    margin-top: 20px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
  font-size: 14px;
}